extends layout

block content
  h2 Accounts
  p.error #{error_text}
  table(cellpadding="5px")#left
    thead
      tr: th Account
          th Balance
    tbody
      each account in accounts
        tr.row
          if account.name == edit && account.name != "Total"
            form(name="search", action="/accounts/rename" method="post")
              input(type="text", name="oldname", value="#{account.name}").hidden
              td
                input(type="text", name="newname", value="#{account.name}").textbox
              td.number= account.balance
              td
                input(type="submit", name="save", value="Save")
            td
              a(href="/accounts/delete?name=#{account.name}", onclick="return confirm('Are you sure you want to delete #{account.name}?')") Delete
          else
            td
              a(href="/accounts?edit=#{account.name}").textbutton= account.name
            td
              a(href="/history?account=#{account.name}").number.textbutton= account.balance
      tr
        form(name="add-account", action="/accounts/add" method="post")
          td
            input(type="text", name="name").textbox
          td
            input(type="submit", value="Add Account")
  div#plot
  script var plot_data = !{JSON.stringify(accounts)}
  script(src="/javascripts/plot-bar.js")
  span#tooltip