extends layout

block content
  h2 Add Entry
  p.error #{error_text}
  form(name="add", method="post")
    table
      tr
        td
          span.label Date:
        td
          input(type="text", name="date", value="#{q.date || ''}").textbox
      tr
        td
          span.label Title:
        td
          input(type="text", name="title", value="#{q.title || ''}").textbox
      tr
        td
          span.label Location:
        td
          input(type="text", list="locations", name="location", autocomplete="off", value="#{q.location || ''}").textbox
          datalist(id="locations")
            each location in locations
              option(value="#{location.location}")
      tr
        td
          span.label Account:
        td
          input(type="text", list="accounts", name="account", autocomplete="off", value="#{q.account || ''}").textbox
          datalist(id="accounts")
            each account in accounts
              option(value="#{account.name}")
      tr
        td
          span.label From:
        td
          input(type="text", list="accounts", name="transfer", value="#{q.transfer || ''}").textbox
      tr
        td
          span.label Amount:
        td
          input(type="number", step="0.01", name="amount", value="#{q.amount || ''}").textbox
      tr
        td
          span.label Category:
        td
          input(type="text", list="categories", name="category", autocomplete="off", value="#{q.category || ''}").textbox
          datalist(id="categories")
            each category in categories
              option(value="#{category.category}")
      tr
        td
          span.label Note:
        td
          input(type="text", name="note", value="#{q.note || ''}").textbox
      tr
        td
        td
          input(type="submit", value="Add")
          input(type="checkbox", name="keep") 
          label(for="keep") Keep