extends layout

block content
  h2 Analytics
  p.error #{error_text}
  form(name="search", method="get")#left
    table
      tr
        td
          span.label After:
        td
          input(type="text", value="#{query.after||''}", name="after")
      tr
        td
          span.label Before:
        td
          input(type="text", value="#{query.before||''}", name="before")
      tr
        td
          span.label Grouping:
        td
            select(name="groupby", id="groupby", form="left")
                option(value="category", selected=query.groupby == 'category') Category
                option(value="location", selected=query.groupby == 'location') Location
      tr
        td
          span.label Min Entrys:
        td
          input(type="number", value="#{query.min||''}", name="min")
      tr
        td
        td
          input(type="submit", value="Search")
  table(cellpadding="5px")
    thead
      tr: th Name
          th Total
          th Entries
          th Mean
    tbody
      each entry in entries
        tr.row
            td
              a(href="/history?#{groupby}=#{entry.name}").textbutton #{entry.name}
            td.number= entry.formatted
            td.number= entry.num
            td.number= entry.mean