extends layout

block content
  h2 Bulk Edit
  p.error #{error_text}
  form(name="edit", method="post")#edit
    table
      tr
        th
        th
          span.label Find Where...
        th
          span.label Loose 
        th
          span.label Replace With...
      tr
        td
          span.label Title:
        td
          input(type="text", value="#{query.title||''}", name="title").textbox
        td
          input(type="checkbox", name="loose_title", checked=(query.loose_title == 'on' ? 'checked' : undefined))
        td
          input(type="text", value="#{query.new_title||''}", name="new_title").textbox
      tr
        td
          span.label Location:
        td
          input(type="text", list="locations", name="location", autocomplete="off", value="#{query.location || ''}").textbox
          datalist(id="locations")
            each location in locations
              option(value="#{location.location}")
        td
          input(type="checkbox", name="loose_location", checked=(query.loose_location == 'on' ? 'checked' : undefined))
        td
          input(type="text", list="locations", name="new_location", autocomplete="off", value="#{query.new_location || ''}").textbox
          datalist(id="locations")
            each location in locations
              option(value="#{location.location}")
      tr
        td
          span.label Account:
        td
          input(type="text", list="accounts", name="account", autocomplete="off", value="#{query.account || ''}").textbox
          datalist(id="accounts")
            each account in accounts
              option(value="#{account.name}")
        td
        td
          input(type="text", list="accounts", name="new_account", autocomplete="off", value="#{query.new_account || ''}").textbox
          datalist(id="accounts")
            each account in accounts
              option(value="#{account.name}")
      tr
        td
          span.label After:
        td
          input(type="text", value="#{query.after||''}", name="after").textbox
        td
        td
      tr
        td
          span.label Before:
        td
          input(type="text", value="#{query.before||''}", name="before").textbox
        td
        td
      tr
        td
          span.label Date:
        td
          input(type="text", value="#{query.date||''}", name="date").textbox
        td
        td
          input(type="text", value="#{query.new_date||''}", name="new_date").textbox
      tr
        td
          span.label Category:
        td
          input(type="text", list="categories", name="category", autocomplete="off", value="#{query.category || ''}").textbox
          datalist(id="categories")
            each category in categories
              option(value="#{category.category}")
        td
          input(type="checkbox", name="loose_category", checked=(query.loose_category == 'on' ? 'checked' : undefined))
        td
          input(type="text", list="categories", name="new_category", autocomplete="off", value="#{query.new_category || ''}").textbox
          datalist(id="categories")
            each category in categories
              option(value="#{category.category}")
      tr
        td
          span.label Note:
        td
          input(type="text", value="#{query.note||''}", name="note").textbox
        td
          input(type="checkbox", name="loose_note", checked=(query.loose_note == 'on' ? 'checked' : undefined))
        td
          input(type="text", value="#{query.new_note||''}", name="new_note").textbox
      tr
        td
        td
          input(type="submit", value="Edit")