extends layout

block content
  h2 History
  form(name="search", method="get")#left
    table
      tr
        td
          span.label Limit:
        td
          input(type="number", value="#{query.limit||10}", name="limit")
      tr
        td
          span.label Title:
        td
          input(type="text", value="#{query.title||''}", name="title")
      tr
        td
          span.label Location:
        td
          input(type="text", value="#{query.location||''}", name="location")
      tr
        td
          span.label Account:
        td
          input(type="text", value="#{query.account||''}", name="account")
      tr
        td
          span.label After:
        td
          input(type="text", value="#{query.after||''}", name="after")
      tr
        td
          span.label Before:
        td
          input(type="text", value="#{query.before||''}", name="before")
      tr
        td
          span.label Category:
        td
          input(type="text", value="#{query.category||''}", name="category")
      tr
        td
          span.label Note:
        td
          input(type="text", value="#{query.note||''}", name="note")
      tr
        td
        td
          input(type="submit", value="Search")
  table(cellpadding="5px")
    thead
      tr: th Title
          th Location
          th Date
          th Amount
          th Account
          th Category
          th Note
    tbody
      each entry in entries
        tr.row
          td= entry.title
          td= entry.location
          td= entry.date
          td.number= entry.amount
          td= entry.name
          td= entry.category
          td= entry.note