extends layout

block content
  h2 History
  p.error #{error_text}
  form(name="search", method="get")#left
    table
      tr
        th
        th
          span.label Filter
        th
          span.label Exact
      tr
        td
          span.label Limit:
        td
          input(type="number", value="#{query.limit||10}", name="limit")
        td
      tr
        td
          span.label Title:
        td
          input(type="text", value="#{query.title||''}", name="title")
        td
          input(type="checkbox", name="exact_title", checked=(query.exact_title == 'on' ? 'checked' : undefined))
      tr
        td
          span.label Location:
        td
          input(type="text", list="locations", name="location", autocomplete="off", value="#{query.location || ''}")
          datalist(id="locations")
            each location in locations
              option(value="#{location.location}")
        td
          input(type="checkbox", name="exact_location", checked=(query.exact_location == 'on' ? 'checked' : undefined))
      tr
        td
          span.label Account:
        td
          input(type="text", list="accounts", name="account", autocomplete="off", value="#{query.account || ''}")
          datalist(id="accounts")
            each account in accounts
              option(value="#{account.name}")
      tr
        td
          span.label After:
        td
          input(type="text", value="#{query.after||''}", name="after")
        td
      tr
        td
          span.label Before:
        td
          input(type="text", value="#{query.before||''}", name="before")
        td
      tr
        td
          span.label Category:
        td
          input(type="text", list="categories", name="category", autocomplete="off", value="#{query.category || ''}")
          datalist(id="categories")
            each category in categories
              option(value="#{category.category}")
        td
          input(type="checkbox", name="exact_category", checked=(query.exact_category == 'on' ? 'checked' : undefined))
      tr
        td
          span.label Note:
        td
          input(type="text", value="#{query.note||''}", name="note")
        td
          input(type="checkbox", name="exact_note", checked=(query.exact_note == 'on' ? 'checked' : undefined))
      tr
        td
        td
          input(type="submit", value="Search")
  table(cellpadding="5px")
    thead
      tr: th Title
          th Location
          th Date
          th Amount
          th Account
          th Category
          th Note
          th Linked To
          th Edit
          th Delete
    tbody
      each entry in entries
        tr.row
          if entry.id == query.edit
            form(name="search", method="post")
              td
                input(type="text", name="title", value="#{entry.title}")
              td
                input(type="text", list="locations", name="location", autocomplete="off", value="#{entry.location || ''}")
                datalist(id="locations")
                  each location in locations
                    option(value="#{location.location}")
              td
                input(type="text", name="date", value="#{entry.date}")
              td
                input(type="number", step="0.01", name="amount", value="#{entry.raw}")
              td
                input(type="text", list="accounts", name="account", autocomplete="off", value="#{entry.name || ''}")
                datalist(id="accounts")
                  each account in accounts
                    option(value="#{account.name}")
              td
                input(type="text", list="categories", name="category", autocomplete="off", value="#{entry.category || ''}")
                datalist(id="categories")
                  each category in categories
                    option(value="#{category.category}")
              td
                input(type="text", name="note", value="#{entry.note}")
              td
                a(href="/history?id=#{entry.linked_transaction}")= entry.linked_transaction
              td
                input(type="submit", value="Save")
              td
                input(type="text", name="id", value="#{entry.id}").hidden
          else
            td= entry.title
            td= entry.location
            td= entry.date
            td.number= entry.amount
            td= entry.name
            td= entry.category
            td= entry.note
            td
              a(href="/history?id=#{entry.linked_transaction}")= entry.linked_transaction
            td
              a(href="/history#{url}&edit=#{entry.id}")= entry.edtext
            td
              a(href="/history/delete?id=#{entry.id}")= entry.deltext