extends layout

block content
  h2 Plot
  p.error #{error_text}
  form(name="search", method="get")#left
    table
      tr
        td
          span.label Account:
        td
          input(type="text", list="accounts", name="account", autocomplete="off", value="#{query.account || ''}").textbox
          datalist(id="accounts")
            each account in accounts
              option(value="#{account.name}")
      tr
        td
          span.label Category:
        td
          input(type="text", list="categories", name="category", autocomplete="off", value="#{query.category || ''}").textbox
          datalist(id="categories")
            each category in categories
              option(value="#{category.name}")
      tr
        td
          span.label After:
        td
          input(type="text", value="#{query.after||''}", name="after").textbox
      tr
        td
          span.label Before:
        td
          input(type="text", value="#{query.before||''}", name="before").textbox
      tr
        td
        td
          input(type="submit", value="Plot")
  div#plot
  script var plot_data = !{JSON.stringify(totals)}
  script(src="/javascripts/plot-line.js")
  span#tooltip